<div
  fxLayout="column"
  fxLayoutGap="16px"
  fxLayoutAlign="space-evenly center"
  class="container"
>
  <mat-card (click)="navigateToViewDrillingEvent()">
    <mat-card-content fxLayout="column" fxLayoutAlign="center center">
      <mat-icon>monitoring</mat-icon>
      <h1>View Drilling Events</h1>
    </mat-card-content>
  </mat-card>
  <mat-card (click)="navigateToManageDrillingEvent()">
    <mat-card-content fxLayout="column" fxLayoutAlign="center center">
      <mat-icon>settings</mat-icon>
      <h1>Manage Drilling Events</h1>
    </mat-card-content>
  </mat-card>
</div>
